.container {
  height: auto;
  margin: 500px auto;
  .sectionTitle {
	margin: 100px auto;
	width: 320px;
    text-align: center;
	padding: 10px;
	font-size: 32px;
	font-weight: 600;
	background: linear-gradient(transparent 60%, rgba(61, 102, 74, 0.1) 60%);
  }
  .message {
	text-align: center;
	color: var(--font-color);
	font-size: 20px;
	font-weight: 500;
	line-height: 45px;
  }
}
