.container {
  height: auto;
  margin: 350px auto;
  text-align: center;
  // TODO: paddingでなぜか一括指定できない。
  padding-top: 150px;
  padding-bottom: 200px;
  scroll-margin-top: -50px;
  .message {
	margin-top: 30px;
	text-align: center;
	color: var(--font-color);
	font-size: 18px;
	font-weight: 500;
	line-height: 45px;
  }
}
