$card-width: 370px;
$card-height: 540px;

.container {
	display: inline-block;
	position: relative;
	width: $card-width;
	height: $card-height;
	text-align: left;
	border: var(--foreground) 1px solid;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
	&:hover {
		transform: scale(1.03);
	}
	.cardImageFrame{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 190px;
		vertical-align: top;
		.cardImage {
			width: 100% !important;
			position: relative !important;
		}
	}
	.overviewContainer {
		position: absolute;
		top: 218px;
		left: 28px;
		color: var(--foreground);
		font-family: var(--font-noto-sans-jp);
		.title{
			font-size: 22px;
			font-weight: 700;
		}
		.platform {
			margin-top: 8px;
			font-size: 13px;
			font-weight: 300;
		}
		.serviceFrame {
			margin: 10px 0;
			width: 95%;
			.serviceElement {
				display: inline-block;
				height: 24px;
				line-height: 12px;
				padding: 6px 13px;
				margin: 4px 8px 4px 0;
				border-radius: 12px;
				background-color: gray;
				font-size: 12px;
				color: var(--font-color-reverse);
			}
		}
		.description {
			width: 92%;
			font-size: 16px;
			line-height: 26px;
			margin-top: 14px;
			color: var(--font-color);
		}
		.github {
			display: inline-block;
			margin-top: 10px;
		}
	}
}